<!doctype html>
<html>
<head>
    <style> 
    
        .div1 {
          width: 500px;
          height: 100px;
          border: 1px solid blue;
          background-color: beige;
        }
        
        .div2 {
          width: 300px;
          height: 100px;  
          padding: 50px;
          border: 1px solid red;
        }
        </style>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	</head>
	
<body style="background-color:grey">
<br>
<br>
<br>
	<div>
<div>

	<div class="container">
  <div class="jumbotron">
		<center>
    <h1>emotion_check</h1>
</center>
  </div>
</div>
</div>
</div>
<br>
<br>
<br>
	<center>
	 <form action = "http://localhost:5000/results" method = "POST"
			enctype = "multipart/form-data">
			<input type = "file" name = "file" />
			<input type = "submit" name='Upload' value='Upload'/>
	 </form>
	 <br>
	 <br>
	<center>
	 <h2>
         <br>
         <br>
         <br>
             <br>
         </r>
        <div class="div1"><br>{{value}}</div>
	 </h2>
</center>
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</center>
</body>

</html>
